@font-face {
    font-family: "roboto";
        src: url("..fonts/roboto.woff2") format("woff2"),
         url("..fonts/roboto.woff") format("woff");
         font-weight: 400;
         font-style: normal;
    }

@font-face {
    font-family: "robotomedium";
        src: url("..fonts/robotomedium.woff2") format("woff2"),
        url("..fonts/robotomedium.woff") format("woff");
        font-weight: 500;
        font-style: normal;
    }
                
@font-face {
    font-family: "robotobold";
        src: url("..fonts/robotobold.woff2") format("woff2"),
        url("..fonts/robotobold.woff") format("woff");
        font-weight: 700;
        font-style: normal;
                        
    }    
/* Variables*/
:root {
    --basik-black: #000000;
    --darkblue:#283136;
    --white: #FFFFFF;
    --darkgrey: #444444;
    --rosered: #FB565A;
    --lightgrey: #EEEEEE;
    --darkgrey: #231F20;
    --green: #00CA74;
    --yellow: #EFC849;

}
   
.body {
    font-family: "robotomedium";
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    background color: #EEEEEE;
    background-position: absolute;
    background-repeat: no-repeat;
    text-transform: uppercase;
}  

/* Main navigation */
.site-navigation {
    background-color:  #EEEEEE;
    background-repeat: no-repeat;
    background-position: center top;
    font-family: "robotomedium";
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;

}

/*description */
.description-list: none;
}








