@font-face {
    font-family: "roboto";
        src: url("..fonts/roboto.woff2") format("woff2"),
         url("..fonts/roboto.woff") format("woff");
         font-weight: 400;
         font-style: normal;
}

@font-face {
    font-family: "robotomedium";
        src: url("..fonts/robotomedium.woff2") format("woff2"),
        url("..fonts/robotomedium.woff") format("woff");
        font-weight: 500;
        font-style: normal;
}
                
@font-face {
    font-family: "robotobold";
        src: url("..fonts/robotobold.woff2") format("woff2"),
        url("..fonts/robotobold.woff") format("woff");
        font-weight: 700;
        font-style: normal;
                        
}    
/* Variables*/
 
:root {
    --basik-black: #000000;
    --darkblue:#283136;
    --white: #FFFFFF;
    --darkgrey: #444444;
    --rosered: #FB565A;
    --estralightgrey: #EEEEEE;
    --darkgrey: #231F20;
    --green: #00CA74;
    --yellow: #EFC849;
    --lightgrey: #888888;
    --grey: #666666;

}
   
.page-body {
    min-width: 960px;
    font-family: "roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: 000000;
    background-position: absolute;
    background-repeat: no-repeat;
    text-transform: uppercase;
    color:#283136;

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}  

/* main-navigation */
.main-navigation {
    display: grid;


}
/* Container */

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }

/* Logo */

.main-header-logo {
    order: 1;
}
.main-header-bar {
    background-color: #EEEEEE;
       

}


.main-navigation-wrapper {
    display: grid;
    grid-template-columns: 1fr min-content;
    background-color: #EEEEEE;
    width: 1157px;
    margin: 0 auto;
    padding: 0 10px;

}

 .site-navigation {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px; 
    background color: #EEEEEE;
    list-style: none; 
    color:  #000000;

}


img {
    max-widht: 100%;
    height: auto;
}
/* Grid */
    .page {
    height: 100%;
  }

/*description */

.description p{
    
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto;
    font-weight: 400;
    color:#283136;
    list-style: none;
} 

.description b{
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: #000000;

    }

/* services*/
    .services-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 40px;
}

    .services-item b{
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: 000000;
    }

    .services-item p{
        font-size: 16px;
        line-height: 24px;
        font-family: Roboto;
        font-weight: 400;
        color:#283136;
    }
/* Button */
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
       
    }
    /* Index columns */

.index-columns {
    display: grid;
    grid-template-columns: 2fr 1fr;
}



    
/*about us*/

    .about us-item b{

        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 45px;
        line-height: 45px;
        color: 000000;

    } 

    .about us-item p{
        font-size: 16px;
        line-height: 24px;
        font-family: Roboto;
        font-weight: 400;
        color:#283136;
    } 

/*.quality*/

    .quality-item p{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
    } 
    .quality-item b{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 64px;
        color: 000000;
    }

    /* Main footer */

/* Contacts */   
    .contacts-phone {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color:  #666666;
    }

/* address */
    .address  {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color:  #666666;
    }

    .footer-social {
        text-align: center;
      }
      
      .footer-social ul {
        list-style: none;
      }
      
      .footer-social h2 {
        font-size: 15px;

    }
    .social b {
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 36px;
        color: 000000;
    }

    .social p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color:  #444444;

    }
/* Social button */



    @font-face {
        font-family: "roboto";
        src: url("..fonts/roboto.woff2") format("woff2"),
         url("..fonts/roboto.woff") format("woff");
         font-weight: 400;
         font-style: normal;
}

    @font-face {
        font-family: "robotomedium";
        src: url("..fonts/robotomedium.woff2") format("woff2"),
        url("..fonts/robotomedium.woff") format("woff");
        font-weight: 500;
        font-style: normal;
}
                
    @font-face {
        font-family: "robotobold";
        src: url("..fonts/robotobold.woff2") format("woff2"),
        url("..fonts/robotobold.woff") format("woff");
        font-weight: 700;
        font-style: normal;
                        
}

/* Global */
        background: #EEEEEE;
        min-width: 960px;
        font-family: "roboto";
        background-image: url("../img.bg.jpg");
        background-position: top center;
        background-repeat: no-repeat;
}

    .page-title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 55px;
        line-height: 55px;
        color: #000000;

  }

  /* filters */ 

    .filters {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        color: #000000;  
}

    .filter-input-radio filter-input
    .filter-option filter-checkbox{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }


    .filter-input-checkbox:hover + label,
    .filter-input-checkbox:focus + label {
        color: #283136;
    }

    .filter-button {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        background-color: #EEEEEE;
        color: #000000; 
        border: none;
    }

    .sort-item {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #283136;

    }

    .catalog-list {
        list-style: none;
    }

    .catalog-item {
        background: #888888;
    }
    .catalog-item-price a{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
        background: #FB565A;

    }
    
   
    

    /* Pagination */ 

    .pagination-list {
        list-style: none;
}

  
  
    .pagination-item a:hover,
    .pagination-item a:focus,
    .pagination-item a:active {
         color: #000000; 
  }
  
    .pagination-item-current a,
    .pagination-item-current a:hover,
    .pagination-item-current a:focus,
    .pagination-item-current a:active {
         color: #000000;

    }
    
  